@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background01: #efe6de;
  --background02: #fdf7f4;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: "Dovemayo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background02);
  font-family: "Dovemayo_gothic", Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer components {
  .button-144-48 {
    @apply flex items-center justify-center w-36 h-12 rounded-lg bg-primary text-base leading-normal text-white;
  }
  .label-style {
    @apply text-sm leading-[1.35] text-gray05 mb-1;
  }
  .input-style {
    @apply w-full h-14 p-4 text-base text-gray05 placeholder:text-gray04 rounded-lg border-2 border-solid border-gray04 bg-white outline-none;
  }

  .write-form-button {
    @apply flex-1 text-center text-xl !leading-[1.35] py-4 lg:max-w-[400px] lg:bg-[#B1A4A1] lg:text-white lg:py-[15px] lg:text-lg lg:rounded-lg;
  }
}

@layer utilities {
  .artworkprev-content-height {
    height: calc(100vh - 240px);
  }
}
